name: Build and test

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the testing image
        run: docker build . --file Dockerfile --tag testing
      - name: Run tests
        run: docker run --rm -t testing 'cd ./test;./archive_fileTest'